/* set background color for nav bar */
.distill-site-nav{
  background-color:cornflowerblue;
}

/* set hover feature on nav bar */
.distill-site-nav a:hover {
  color: GhostWhite;
  font-weight: bold;
  font-variant: small-caps;
}

/* style the headers */
h1 {
  color: black;
  font-weight: lighter;
  font-variant: small-caps;
  margin-top: 1px;
  margin-bottom: 8px;
}